.AnimalTiles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.AnimalsTilesContainer{
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

body {
  font-family: 'Akaya Telivigala', cursive;
}