.AnimalTiles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Slogan {
  height: 85px;
  display: flex;
  align-items: stretch;
  padding-bottom: 2rem;
  padding-left: 6%;
  color: #023047;
}
.AnimalsTilesContainer{
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

body {
  font-family: 'Akaya Telivigala', cursive;
}