/* Shade home background css goes here as well as the css for the selectec tile ---> check out google but basically one big div for whole page with opacity at like 50 ish percent and then smaller div for actual info */

.AnimalPopUp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.AnimalPopUpInner {
  position: relative;
  border: 3px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 680px;
  background-color: white;
  border-radius: 5%;
}
.RefugeInfo {
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  width:100%;
  display: flex;
  flex-direction: column;
}

.AnimalDesc {
  padding-top: 1.5rem;
  padding-bottom: 0.75rem;
  text-align: center;
}

.Buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 2.50rem;
  /* background-color: black; */
}

.likeButton {
  padding-top: 2rem;
}

.fa-heart {
  color: #8ecae6
}

.fa-angles-left {
  font-size: 25px;
  color: #ffb703;
}

.fa-angles-left:hover {
  color: #219ebc;
  font-size: 35px;
}

.fa-heart:hover  {
  color: #fb8500;
  font-size: 25px;
}
img {
  border-radius: 8px;
  border-top: 3px solid black ;
  border-right: 3px solid black ;
  border-left:  3px solid black;
  border-bottom: 3px solid rgb(12, 12, 12);
  
}