.ErrorContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
}

.imageError{
  padding-top: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
}